@font-face {
    font-family: 'Blestive Script PERSONAL USE';
    src: url('BlestiveScriptPERSONALUSE-Regular.woff2') format('woff2'),
        url('BlestiveScriptPERSONALUSE-Regular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

